body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(45deg, #111, #333);
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background: gold;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.preview, .products, .contact {
  padding: 40px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
                              }
